$primaryColor : #595959;
$primaryMidColor : #404040;
$primaryDarkColor : #333333;
$accentColor: #58c47f;
$accentDarkColor: #3e8758;
$secondaryColor: #4fabee;
$alertColor: #f35b5b;
$warnColor: #ffaa00;
$infoColor: #c5c5c5;

$mainBackgroundColor: #FFFFFF;

$mainTextColor: #2c2c2c;
$secondaryTextColor: rgba(44, 44, 44, 0.7);
$tertiaryTextColor : #919191;
$fourthTextColor : #b3b3b3;
$fifthTextColor : rgba(39, 39, 39, 0.15);
$liteTextColor: rgba(255, 255, 255, 0.85);
$literTextColor: rgba(255, 255, 255, 0.9);

$bottomSheetBackgroundColor: #3C405C;
$logInfoBottomSheetTextColor: #FFFFFF;

$spotifyColor: #4caf50;
$spotifyTextColor: #FFFFFF;

$darkBackgroundColor: #37474f;
$darkTextColor: #F5F5F5;

$liteBackgroundColor: #FFFFFF;
$liteTextColor: #677682;

$sunnyBackgroundColor: #ffd045;
$sunnyTextColor: #0E1E33;

$clearBackgroundColor: #0E1E33;
$clearTextColor: #F5F5F5;

$mistDayBackgroundColor: #808080;
$mistDayTextColor: #F5F5F5;

$mistNightBackgroundColor: #505050;
$mistNightTextColor: #F5F5F5;

$drizzleDayBackgroundColor: #8cb5b7;
$drizzleDayTextColor: #000000;

$drizzleNightBackgroundColor: #649b9e;
$drizzleNightTextColor: #F5F5F5;

$snowDayBackgroundColor: #FFFAFA;
$snowDayTextColor: #677682;

$snowNightBackgroundColor: #FFFAFA;
$snowNightTextColor: #677682;

$rainDayBackgroundColor: #0077be;
$rainDayTextColor: #FFFFFF;

$rainNightBackgroundColor: #004772;
$rainNightTextColor: #FFFFFF;

$iceDayBackgroundColor: #b9e8ea;
$iceDayTextColor: #677682;

$iceNightBackgroundColor: #199ca6;
$iceNightTextColor: #FFFFFF;