$primaryColor : #595959;
$primaryMidColor : #404040;
$primaryDarkColor : #333333;
$accentColor: #58c47f;
$accentDarkColor: #3e8758;
$secondaryColor: #4fabee;
$alertColor: #f35b5b;
$warnColor: #ffaa00;
$infoColor: #c5c5c5;

$mainBackgroundColor: #FFFFFF;

$mainTextColor: #2c2c2c;
$secondaryTextColor: rgba(44, 44, 44, 0.7);
$tertiaryTextColor : #919191;
$fourthTextColor : #b3b3b3;
$fifthTextColor : rgba(39, 39, 39, 0.15);
$liteTextColor: rgba(255, 255, 255, 0.85);
$literTextColor: rgba(255, 255, 255, 0.9);

$bottomSheetBackgroundColor: #3C405C;
$logInfoBottomSheetTextColor: #FFFFFF;

$spotifyColor: #4caf50;
$spotifyTextColor: #FFFFFF;